<mat-card *ngIf="mission" style="margin-top: 20px;">
    <mat-card-header>
      <mat-card-title>{{ mission.mission_name }} ({{ mission.launch_year }})</mat-card-title>
    </mat-card-header>
  
    <img mat-card-image [src]="mission.links.mission_patch_small" alt="Mission Patch" width="150">
  
    <mat-card-content>
      <p><strong>Details:</strong> {{ mission.details || 'N/A' }}</p>
      <p><strong>Rocket:</strong> {{ mission.rocket.rocket_name }} - {{ mission.rocket.rocket_type }}</p>
    </mat-card-content>
  
    <mat-card-actions>
      <a mat-raised-button color="accent" [href]="mission.links.article_link" target="_blank">Article</a>
      <a mat-raised-button color="primary" [href]="mission.links.wikipedia" target="_blank">Wikipedia</a>
      <a mat-raised-button color="warn" [href]="mission.links.video_link" target="_blank">Video</a>
    </mat-card-actions>
  </mat-card>